@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 76px;

  width: 100%;
  display: contents;
}

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;

  .grid {
    /*.max-width-column {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }*/
    .b-link{
      color: #08C !important;
    }
    .name-template {
      .position {
        font-size: 12px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}

.frame-wrapper {
  overflow-x: hidden;
  border: solid 1px #EEE;
  padding: 10px;
  border-radius: 4px;

  iframe {
    padding-top: 10px;
  }

  .frame-title {
    border-bottom: solid 1px #EEE;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
.dx-tab-border {
  border: solid 1px #EEE;
  border-radius: 4px;
  padding: 10px;
}
