@use "../../../../variables.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.view-wrapper {
  padding-top: var(--content-padding);
  padding-bottom: var(--content-padding);
}

.cards {
  display: grid;
  width: 100%;
  gap: var(--content-padding);
  grid-template-columns: repeat(4, calc(25% - 11px));

  &.grey {
    margin: var(--content-padding) 0;
    grid-template-columns: repeat(4, calc(25% - 11px));

    ::ng-deep .card {
      background-color: #FFF;
      border: none;
      height: 120px;

      ::ng-deep {
        .dx-button {
          background-color: var(--side-panel-background);
        }

        .content {
          height: auto;
        }
      }
    }

    ::ng-deep .dx-loadpanel-indicator {
      width: 24px;
      height: 24px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .cards.grey {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(1, 100%);
  }
}

@media only screen and (max-width: 700px) {
  .cards.grey {
    grid-template-columns: repeat(1, 100%);
  }
}
.popup-content {
  text-align: center;
}
.popup-content p{
  font-size: 16px;
}
.dx-button.dx-button-default:not(.dx-state-disabled) {
  background: #0c760f !important;
  height: 48px;
}
.dx-button.dx-button-default.btn-red:not(.dx-state-disabled) {
  background: #ff0026 !important;
  height: 48px;
}
.dx-button.dx-button-default.dx-state-disabled.dx-button-mode-contained {
  background-color: #f0f0f0;
  height: 48px;
}
