@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 76px;
  width: 100%;
  display: contents;
}

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;

  .grid {
    .name-template {
      .position {
        font-size: 12px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}

.ul_images {
  display: flex;
  padding: 0;
  gap: 5px;
}

.ul_images li {
  list-style: none;
}

.ul_images img {
  height: 60px;
}
.ul_files{
  padding: 0;
}
.ul_files li, .ul-class li {
  list-style: none;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 10px;
}
.ul_files a {
  text-decoration: none;
}
.ul_files a.link {
  display: flex;
  align-items: center;
  gap: 15px;
}
.text-center, .td-checkbox{
  align-content: center;
}
.text-center input{
  text-align: center;
}
::ng-deep{
  .dx-fileuploader-input-wrapper::before{
    padding: 3px;
  }
  .dx-fileuploader-input-wrapper::after{
    padding: 0;
  }
  .dx-fileuploader-wrapper{
    padding: 0;
  }
  .popup-scroll-y{
    height: calc(100vh - 130px);
    overflow-y: auto;
  }
  .dx-popup-content {
    padding: 12px 12px;
  }
  .dx-popup-bottom.dx-toolbar {
    padding: 0 16px 8px;
    overflow: visible;
  }
  .popup-scroll-y dx-tab-panel{
    height: 100% !important;
  }
}
.dx-tabs {
  justify-content: flex-start; /* Canh các tab về đầu */
}

.dx-tab {
  flex-grow: 0; /* Ngăn tab tự giãn rộng */
  flex-shrink: 1; /* Tab co lại nếu không đủ không gian */
  flex-basis: auto; /* Chiều rộng auto theo nội dung */
  max-width: 200px; /* Tùy chỉnh chiều rộng tối đa nếu cần */
  padding: 10px; /* Điều chỉnh khoảng cách */
}
