<div class="view-wrapper list-page crm-contact-list">
  <dx-load-panel
      #loadPanel
      shadingColor="rgba(0,0,0,0.4)"
      [position]="{ of: '#doc-viewer' }"
      [(visible)]="docLoading"
      [message]="'Đang tải dữ liệu...'"
      [showIndicator]="true"
      [showPane]="true"
      [shading]="true"
      [hideOnOutsideClick]="false"
  >
  </dx-load-panel>
  <dx-data-grid
    class="grid theme-dependent"
    noDataText="Không có dữ liệu"
    columnResizingMode="widget"
    [dataSource]="datas"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [columnMinWidth]="50"
    [columnResizingMode]="'nextColumn'"
    [allowColumnResizing]="true"
  >
    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-load-panel [showPane]="true" [enabled]="true"></dxo-load-panel>
    <!--<dxo-selection
      selectAllMode="allPages"
      showCheckBoxesMode="always"
      mode="multiple"
    ></dxo-selection>-->
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="false"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-export
      [enabled]="true"
      [allowExportSelectedData]="true"
      [formats]="['xlsx', 'pdf']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">
          <i class="dx-icon-textdocument" style="font-size: 16px"></i>
          Danh sách đề thi trắc nghiệm
        </div>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <label>Lớp</label>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <dx-tag-box
          [items]="classSource"

          placeholder="Chọn lớp"
          [(value)]="filterClassIds"
          displayExpr="name"
          valueExpr="id"
          (valueChange)="doFilterClass($event)"
          [searchEnabled]="true">
        </dx-tag-box>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button
          text="Thêm mới"
          icon="plus"
          type="default"
          stylingMode="contained"
          (onClick)="addItemClick()"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>

    <dxi-column
      fixedPosition="left" dataField="stt" alignment="center" [allowFiltering]="false" [width]="50" caption="STT"
    ></dxi-column>
    <dxi-column dataField="code" caption="Mã" [width]="80"></dxi-column>
    <dxi-column dataField="name" caption="Đề thi" [width]="200" cellTemplate="cellDetailLink"></dxi-column>
    <dxi-column [width]="140" caption="Kết quả" cellTemplate="cellViewTemplate"></dxi-column>
    <dxi-column dataField="subject" [width]="100" caption="Môn học"></dxi-column>
    <!--<dxi-column dataField="beginDate" [width]="120" caption="Thời hạn" dataType="date"
                format="dd/MM/yyyy"></dxi-column>-->
    <dxi-column [width]="130" caption="Thời hạn từ" dataType="date"
                cellTemplate="cellFromDate"></dxi-column>
    <dxi-column [width]="130" caption="Đến" dataType="date"
                cellTemplate="cellToDate"></dxi-column>
    <dxi-column dataField="timeToDo" [width]="120" caption="Được thi (lần)"></dxi-column>
    <dxi-column dataField="time" [width]="120" caption="TG làm bài (p)"></dxi-column>
    <dxi-column dataField="questionCount" [width]="110" caption="Số câu hỏi"></dxi-column>
    <dxi-column dataField="className" [width]="120" caption="Lớp"></dxi-column>
    <dxi-column dataField="createdDate" [width]="120" caption="Ngày tạo" dataType="date"
                format="dd/MM/yyyy"></dxi-column>

    <dxi-column type="buttons" [fixed]="true" fixedPosition="right" caption="Chức năng">
      <dxi-button
        hint="Sửa thông tin"
        cssClass="dx-button-success"
        [onClick]="onEditClick"
        icon="edit"

      ></dxi-button>
      <dxi-button
        hint="Xóa đề thi"
        cssClass="dx-button-danger"
        [onClick]="onDeleteClick"
        icon="trash"
        type="danger"
      ></dxi-button>
    </dxi-column>
    <div *dxTemplate="let cellInfo of 'cellViewTemplate'">
      <dx-button
        text="Xem KQ"
        [elementAttr]="{ id: 'elementId', class: 'grid-button' }"
        icon="taskcomplete"
        type="normal"
        stylingMode="outlined"
        (onClick)="showResult(cellInfo.data)"
      ></dx-button>
    </div>

    <div *dxTemplate="let cellInfo of 'cellStatus'">
      <span *ngIf="!cellInfo.data.isRunning" class="tag red">Hết hạn làm bài</span>
      <span *ngIf="cellInfo.data.isRunning" class="tag processing">Đang hoạt động</span>
    </div>
    <div *dxTemplate="let cellInfo of 'cellFromDate'">
      <span>{{cellInfo.data.fromDate | date: 'HH:mm dd/MM/yy'}}</span>
    </div>
    <div *dxTemplate="let cellInfo of 'cellToDate'">
      <span>{{cellInfo.data.toDate | date: 'HH:mm dd/MM/yy'}}</span>
    </div>
    <div *dxTemplate="let cellInfo of 'cellDateRange'">
      {{cellInfo.data.fromDate | date: 'dd/MM/yy'}} - {{cellInfo.data.toDate | date: 'dd/MM/yy'}}
    </div>
    <div *dxTemplate="let cellInfo of 'cellDetailLink'">
      <a title="" class="a-link"
         (click)="viewDethi(cellInfo.data)">{{cellInfo.data.name}}</a>
      <span style="color: red;font-size: 20px;margin-left: 8px;" title="Chế độ chống gian lận đã được bật" class="dx-icon-photo" *ngIf="cellInfo.data.isAntiCheating"></span>
    </div>
  </dx-data-grid>

</div>


<dx-popup
  [title]="editTitle"
  [(visible)]="isShowEdit"
  class="form-popup"
  width="100%"
  height="100%"
>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <div
      class="form-popup-buttons-container"
    >
      <dx-button
        text="Bỏ qua"
        stylingMode="outlined"
        type="normal"
        (onClick)="closePopupEdit()"
      ></dx-button>
      <dx-button
        text="Cập nhật"
        stylingMode="contained"
        type="default"
        (onClick)="onSaveClick()"
      ></dx-button>
    </div>
  </dxi-toolbar-item>
  <dx-validation-group #validationGroup>
    <div class="row">
      <div class="col-6 popup-scroll-y">
        <dx-form
            #formChung
            [screenByWidth]="getSizeQualifier"
            [(formData)]="dataItem"
            labelLocation="top"
            labelMode="outside"
            [colCount]="12">
          <!---------------------------start line-------------------------------->
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="8">
            <dxo-label text="Tên đề thi"></dxo-label>
            <dx-text-box
              stylingMode="outlined"
              valueChangeEvent="keyup input change"
              [(value)]="dataItem.name">
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa nhập tên đề thi' }]"></dx-validator>
            </dx-text-box>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [colSpan]="4">
            <dxo-label text="Mã đề thi"></dxo-label>
            <dx-text-box
              stylingMode="outlined"
              valueChangeEvent="keyup input change"
              [(value)]="dataItem.code">
            </dx-text-box>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="6">
            <dxo-label text="Lớp học"></dxo-label>
            <dx-tag-box
              [items]="classSource"
              placeholder="Chọn lớp"
              [(value)]="dataItem.classIds"
              displayExpr="name"
              valueExpr="id"
              [searchEnabled]="true"
              [inputAttr]="{ 'aria-label': 'Product' }"
            >
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa chọn lớp học' }]"></dx-validator>
            </dx-tag-box>
          </dxi-item>
          <dxi-item [isRequired]="true" [colSpan]="6">
            <dxo-label text="Môn học"></dxo-label>
            <dx-select-box
              placeholder="Chọn môn học"
              stylingMode="outlined"
              displayExpr="name"
              valueExpr="id"
              [dataSource]="subjectSource"
              [(value)]="dataItem.subjectId"
            >
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa chọn môn học' }]"></dx-validator>
            </dx-select-box>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="12">
            <dxo-label text="Tải lên đề thi"></dxo-label>
            <ul class="ul_files" ng-if="dataItem.files.length">
              <li *ngFor="let item of dataItem.files">
                <a class="link" style="display: flex" target="_blank" [href]="combineUrlSource(item.source)"
                   [title]="item.filename">
                  <span class="dx-icon-file"></span>
                  <span>{{item.filename}}</span>
                </a>
                <a class="btn-delete" (click)="deleteFile(item)">
                  <span class="dx-icon-remove"></span>
                </a>
              </li>
            </ul>
            <div class="ep-uploader">
              <dx-file-uploader
                  #fileUploader
                  uploadMode="instantly"
                  [uploadHeaders]="uploadHeaders"
                  [(uploadUrl)]="uploadUrl"
                  [uploadHint]="'Kéo và thả tệp của bạn vào đây hoặc nhấn để chọn tệp'"
                  [selectButtonText]="'Chọn đề thi'"
                  [uploadButtonText]="'Upload files'"
                  name="formFile"
                  [multiple]="false"
                  [visible]="true"
                  (onUploadStarted)="onUploadStarted($event)"
                  (onUploaded)="onFileUploaded($event)"
                  (onUploadError)="onUploadError($event)">
              </dx-file-uploader>
            </div>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="4">
            <dxo-label text="Từ thời gian"></dxo-label>
            <dx-date-box
              [(value)]="dataItem.fromDate"
              stylingMode="outlined"
              type="datetime"
              displayFormat="HH:mm dd/MM/yyyy HH:mm"
              placeholder=""
              pickerType="calendar"
            >
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa chọn ngày bắt đầu' }]"></dx-validator>
            </dx-date-box>
          </dxi-item>
          <dxi-item [isRequired]="true" [colSpan]="4">
            <dxo-label text="đến thời gian"></dxo-label>
            <dx-date-box
              [(value)]="dataItem.toDate"
              stylingMode="outlined"
              placeholder=""
              type="datetime"
              displayFormat="HH:mm dd/MM/yyyy HH:mm"
              pickerType="calendar"
            >
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa chọn ngày kết thúc' }]"></dx-validator>
            </dx-date-box>
          </dxi-item>
          <dxi-item [colSpan]="4">
            <dxo-label text="Số lần được thi"></dxo-label>
            <dx-number-box
              stylingMode="outlined"
              [(value)]="dataItem.timeToDo"
            ></dx-number-box>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="4">
            <dxo-label text="TG làm bài (phút)"></dxo-label>
            <dx-number-box
              stylingMode="outlined"
              [(value)]="dataItem.time">
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa nhập thời gian làm bài' }]"></dx-validator>
            </dx-number-box>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="4">
            <dxo-label text="Số câu hỏi"></dxo-label>
            <dx-number-box
              stylingMode="outlined"
              [(value)]="dataItem.numberQuestion">
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa nhập số câu hỏi' }]"></dx-validator>
            </dx-number-box>
          </dxi-item>
          <!---------------------------start line-------------------------------->
          <dxi-item [isRequired]="true" [colSpan]="4">
            <dxo-label text="Số đáp án / câu hỏi"></dxo-label>
            <dx-number-box
              stylingMode="outlined"
              [(value)]="dataItem.numberOfAnswer">
              <dx-validator
                [validationRules]="[{ type: 'required', message: 'Chưa nhập số đáp án / câu hỏi' }]"></dx-validator>
            </dx-number-box>
          </dxi-item>
          <dxi-item [isRequired]="false" [colSpan]="8">
            <div style="font-size: 16px;">
              <dx-check-box [(value)]="dataItem.isAntiCheating"
                            text="Áp dụng chống gian lận"></dx-check-box>
            </div>
          </dxi-item>
          <dxi-item [isRequired]="true" [colSpan]="4" location="after">
            <dx-button
              text="Tạo đáp án"
              width="100%"
              icon="plus"
              type="default"
              stylingMode="contained"
              (onClick)="generateQuesion()"
            ></dx-button>
          </dxi-item>
          <dxi-item [colSpan]="12">
            <table class="table table-bordered datatable dataTable no-footer dtr-column">
              <thead class="thead-light text-center">
              <tr role="row">
                <th width="55px">STT</th>
                <th width="65px">Điểm</th>
                <th width="">Chọn đáp án đúng</th>
                <th width="85px">Số đáp án</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of dataItem.questions">
                <td class="text-center">{{item.index}}</td>
                <td class="text-center">
                  <dx-number-box
                    [elementAttr]="{ style: 'text-align:center' }"
                    stylingMode="outlined"
                    [(value)]="item.mark"
                    (valueChange)="changeRowMark()"
                  ></dx-number-box>
                </td>
                <td class="td-checkbox">
                  <dx-check-box (valueChange)="changeAswer(item)" *ngFor="let an of item.answers" [(value)]="an.checked"
                                [text]="an.name"></dx-check-box>
                </td>
                <td class="text-center">
                  <dx-number-box
                    stylingMode="outlined"
                    [(value)]="item.numberOfAnswer"
                    (valueChange)="changeRowQuestion()"
                  ></dx-number-box>
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr role="row">
                <th></th>
                <th>
                  <dx-number-box
                    [elementAttr]="{ style: 'text-align:center' }"
                    stylingMode="outlined"
                    [readOnly]="true"
                    [(value)]="sumMark"
                    (valueChange)="changeRowQuestion()"
                  ></dx-number-box>
                </th>
                <th>
                  <div *ngIf="sumMark != 10" class="alert alert-danger m-0">*Cảnh báo: tổng điểm không bằng 10</div>
                </th>
                <th></th>
              </tr>
              </tfoot>
            </table>
          </dxi-item>
        </dx-form>
      </div>
      <div class="col-md-6 popup-scroll-y">
        <dx-tab-panel
          width="100%"
          [animationEnabled]="true"
          [swipeEnabled]="true"
          [dataSource]="tabSource"
          [tabsPosition]="'top'"
          [stylingMode]="'secondary'"
          [iconPosition]="'start'"
        >
          <div *dxTemplate="let tabPanelItem of 'item'">
            <div class="p-2" *ngIf="isImage(tabPanelItem.source)">
              <img style="max-width: 100%;height: auto" [src]="combineUrlSource(tabPanelItem.source)">
            </div>
            <div id="doc-viewer" style="width:100%;height:100%">
              <ngx-doc-viewer *ngIf="!isImage(tabPanelItem.source)"
                              [url]="tabPanelItem.source"
                              viewer="google"
                              style="width:100%;height:100%;min-height: 300px;"
                              (loaded)="onDocumentLoaded()"
              ></ngx-doc-viewer>
            </div>
          </div>
        </dx-tab-panel>
      </div>
    </div>
  </dx-validation-group>
</dx-popup>
<dx-popup
  [title]="popupResultTitle"
  [(visible)]="isShowPopupResult"
  class="form-popup"
  [width]="isSmallScreen() ? '100%' : '1200px'"
  [height]="isSmallScreen() ? '100%' : '80%'"
>
  <div class="alert alert-info text-center">
    Tổng số học sinh thi: <strong>{{resultInfo.studentCount}}</strong> - Tổng số lượt làm bài :
    <strong>{{resultInfo.resultCount}}</strong>
  </div>
  <dx-data-grid
    noDataText=""
    id="gridResult"
    width="100%"
    [dataSource]="studentClassResult"
    keyExpr="id"
    height="500px"
    [showBorders]="true"
    (onExporting)="onExporting($event)"
    (onContentReady)="onContentReady($event)"
  >
    <dxo-export
      [enabled]="true"
      [texts]="exportTexts"
      showText="always"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item location="before" locateInMenu="auto">
        <label>Lớp học:</label>
      </dxi-item>
      <dxi-item location="before"  locateInMenu="auto">
        <dx-tabs
          secondary="secondary"
          [showNavButtons]="false"
          [scrollByContent]="true"
          [selectedIndex]="classTabIndex"
          [items]="tabClassSource"
          (onItemClick)="classChange($event)"
        ></dx-tabs>
      </dxi-item>
      <dxi-item name="exportButton"></dxi-item>
    </dxo-toolbar>
    <dxi-column dataField="index" alignment="center" caption="STT" alignment="center" [width]="60"></dxi-column>
    <dxi-column dataField="name" caption="Họ và tên"></dxi-column>
    <dxi-column dataField="class" caption="Lớp" [width]="80"></dxi-column>
    <dxi-column dataField="count" caption="Lần thi" [width]="80"></dxi-column>
    <dxi-column dataField="minMark" caption="Điểm thấp nhất" [width]="140"></dxi-column>
    <dxi-column dataField="maxMark" caption="Điểm cao nhất" [width]="130"></dxi-column>
    <dxi-column dataField="avgMark" caption="Điểm TB" [width]="130"></dxi-column>
    <dxi-column dataField="isCheatingText" alignment="center" caption="Gian lận" [width]="100"></dxi-column>
    <dxi-column caption="" [width]="120" cellTemplate="cellButtons"></dxi-column>

    <div *dxTemplate="let cellInfo of 'cellButtons'">
      <button title="Xem kết quả" *ngIf="cellInfo.data.count > 0" (click)="onViewResultClick(cellInfo.data)"
              class="btn btn-sm btn-success me-2">
        <i class="dx-icon-textdocument"></i>
      </button>

      <button title="Cho thi lại" *ngIf="cellInfo.data.count > 0" (click)="onRedoClick(cellInfo.data)"
              class="btn btn-sm btn-warning me-2">
        <i class="dx-icon-redo"></i>
      </button>
    </div>
    <div *dxTemplate="let cellInfo of 'cellAvgMark'">
      <span>{{cellInfo.data.avgMark}}</span>
    </div>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="none"></dxo-sorting>
  </dx-data-grid>
</dx-popup>

<dx-popup
  [title]="'Xem trước đề thi'"
  [(visible)]="isShowPreview"
  class="form-popup"
  [width]="900"
>
  <dx-tab-panel
    width="100%"
    [animationEnabled]="true"
    [swipeEnabled]="true"
    [dataSource]="tabSource"
    [(selectedIndex)]="selectedTabIndex"
    [tabsPosition]="'top'"
    [stylingMode]="'secondary'"
    [iconPosition]="'start'"
  >
    <div *dxTemplate="let tabPanelItem of 'item'">
      <!--<iframe [src]='tabPanelItem.source2' width='100%' height='100%' frameborder='0'></iframe>-->
      <div class="p-2" *ngIf="isImage(tabPanelItem.source)">
        <img style="max-width: 100%;height: auto" [src]="combineUrlSource(tabPanelItem.source)">
      </div>

      <ngx-doc-viewer *ngIf="!isImage(tabPanelItem.source)"
                      [url]="tabPanelItem.source"
                      viewer="google"
                      style="width:100%;height:100vh;"
                      (loaded)="onDocumentLoaded()"
      ></ngx-doc-viewer>
    </div>
  </dx-tab-panel>
</dx-popup>

<dx-popup
  [title]="popupResultStudentTitle"
  [(visible)]="isShowResult"
  [showCloseButton]="true"
  class="form-popup"
  [width]="isSmallScreen() ? '100%' : '800px'"
  [height]="isSmallScreen() ? '100%' : '80%'"
>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <div class="form-popup-buttons-container">
      <dx-button
        text="Đóng"
        stylingMode="outlined"
        type="normal"
        (onClick)="closePopupViewResult()"
      ></dx-button>
    </div>
  </dxi-toolbar-item>
  <app-student-exampaper-result-detail [examPaper]="examPaperData"></app-student-exampaper-result-detail>
</dx-popup>

