@use "../../../../variables.scss" as *;
@use "sass:math";
.view-wrapper {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;

  & > .dx-toolbar {
    width: auto;
    position: relative;
    margin-bottom: 0 !important;

    &.scrolled {
      padding-bottom: 8px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    dx-button[text="Cancel"] {
      margin-right: 5px;
    }
  }

  /*.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 1px;
    padding: calc(var(--content-padding) / 2) 0 var(--content-padding);
    gap: 24px;
  }*/

  .profile-card {
    margin-top: 16px;

    .image-wrapper {
      flex: 0 0 44px;
      height: 44px;
      border-radius: 50%;
      margin-right: var(--gap-padding);

      .dx-icon {
        margin: auto;
      }
    }

    .with-clipboard-copy {
      display: flex;
      align-items: flex-end;

      .dx-button {
        max-width: 18px;
        min-width: 18px;
        height: 18px;
        margin: 0 0 2px 5px;

        &::ng-deep .dx-icon:active {
          color: var(--accent-color);
        }
      }
    }

    .copy-clipboard-button::ng-deep {
      background-color: transparent;
      border-radius: unset;
      border-color: transparent;

      .dx-button-content {
        padding: 0;
      }

      .dx-icon {
        color: var(--subtitle-text-color);
      }
    }
  }

  .basic-info-card {
    flex: 1;
    min-width: 100%;

    .basic-info-top-item {
      form-photo {
        margin-right: var(--content-padding);

        &::ng-deep .photo {
          border-radius: 50%;
        }
      }

      .change-password-button {
        margin-top: calc(var(--content-padding) / 2);
      }
    }
  }

  .contacts-card .image-wrapper {
    background-color: color-mix(in sRGB, var(--error-color) 12%, transparent);
    color: var(--error-color);
  }

  .address-card .image-wrapper {
    background-color: color-mix(in sRGB, var(--info-color) 12%, transparent);
    color: var(--info-color);
  }
}

.help-text {
  padding-left: 15px;
}

.view-wrapper {
  overflow-y: scroll;
}

.header-text em {
  font-style: normal;
  font-size: 12px;
}

.dx-tab-border dx-tab-panel {
  width: 100%;
  border: solid 1px #EEE;
  border-radius: 4px;
}

.frame-wrapper {
  overflow-x: hidden;
  border: solid 1px #EEE;
  padding: 10px;
  border-radius: 4px;

  iframe {
    padding-top: 10px;
  }

  .frame-title {
    border-bottom: solid 1px #EEE;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

div.active {
  font-size: 14px;
  border: solid 1px #f9912b;
  padding: 5px;
  border-radius: 7px;
  background: #fff8ed;
}

.dx-item div {
  padding: 5px;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.tabpanel-item {
  padding: 10px;
}

.tabpanel-item ul li {
  line-height: 25px;
}

.dx-progressbar-container {
  height: 8px !important;
}

.form-rating {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.rate-info {
  align-items: center;
  text-align: center;
}

.comment-rating {
  border: solid 1px #EEE;
  border-radius: 4px;
  padding: 10px;
}

.comment-list {
  overflow-y: auto;
  max-height: 250px;
}

.comment-item {
  font-size: 13px;
  border-bottom: solid 1px #EEE;
  padding-top: 5px;
  margin-bottom: 5px;
}

.comment-item:last-child {
  border-bottom: none;
}

.comment-title {
  border-bottom: solid 1px #EEE;
  text-align: center;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.comment-editor {
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  border: solid 1px #EEE;
}
.dx-tab-border{
  display: flex;
  min-height: calc(100vh - 210px);
}
::ng-deep .panel-full-height .dx-list {
  max-height: 500px;
  overflow-y: auto;
}
