<div class="view-wrapper list-page crm-contact-list">
  <dx-data-grid
    class="grid theme-dependent"
    [rowAlternationEnabled]="true"
    noDataText=""
    columnResizingMode="widget"
    [dataSource]="datas"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [columnMinWidth]="50"
    [columnAutoWidth]="true"
    [columnResizingMode]="'nextColumn'"
    [allowColumnResizing]="true"
    (onExporting)="onExporting($event)"
  >
    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-load-panel [showPane]="true" [enabled]="true"></dxo-load-panel>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-export
      [enabled]="true"
      [texts]="exportTexts"
      showText="always"
      [allowExportSelectedData]="false"
      [formats]="['xlsx']"
    >
    </dxo-export>
    <dxo-toolbar>
      <dxi-item name="exportButton"></dxi-item>
      <dxi-item location="before">
        <div class="grid-header">
          <i class="dx-icon-textdocument" style="font-size: 16px"></i>
          Danh sách học sinh <span *ngIf="studentCount > 0">&nbsp;({{studentCount}})</span>
        </div>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <label>Khối học</label>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <dx-drop-down-button
          stylingMode="text"
          [useSelectMode]="true"
          [items]="gradeSource"
          (onItemClick)="gradeChange($event)"
          [selectedItemKey]="gradeSource[0]"
          [dropDownOptions]="{ width: 'auto' }"
        ></dx-drop-down-button>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <label>Lớp học</label>
      </dxi-item>
      <dxi-item location="before" locateInMenu="auto">
        <dx-drop-down-button
          stylingMode="text"
          [useSelectMode]="true"
          [items]="filterClassSource"
          keyExpr="id"
          displayExpr="name"
          (onItemClick)="classChange($event)"
          [selectedItemKey]="filterClassId"
          [dropDownOptions]="{ width: 'auto' }"
        ></dx-drop-down-button>
      </dxi-item>
    </dxo-toolbar>

    <dxi-column
      fixedPosition="left" dataField="stt" alignment="center" [allowFiltering]="false" [width]="50" caption="STT"
    ></dxi-column>
    <dxi-column dataField="code" [width]="120" caption="Mã học sinh"></dxi-column>
    <dxi-column caption="Họ và tên" [allowFiltering]="false" dataField="fullName"></dxi-column>
    <dxi-column dataField="className" [width]="120" caption="Lớp" alignment="center"></dxi-column>

    <!--<dxi-column caption="Giới tính" [width]="140" cellTemplate="cellGender"></dxi-column>-->
    <dxi-column caption="Số điện thoại phụ huynh" [width]="200" cellTemplate="cellPhone" dataField="phoneNo" alignment="center"></dxi-column>

    <dxi-column caption="Đã sử dụng" [width]="120" dataField="hasLearned" alignment="center"></dxi-column>
    <div *dxTemplate="let cellInfo of 'cellActiveLMS'">
      {{cellInfo.data.IsNotUsingLMS ? cellInfo.data.IsNotUsingLMS : true}}
    </div>
    <div *dxTemplate="let cellInfo of 'cellGender'">
     {{cellInfo.data.sex == 1 ? 'Nam' : 'Nữ'}}
    </div>
    <div *dxTemplate="let cellInfo of 'cellDateRange'">
      {{cellInfo.data.beginDate | date: 'dd/MM/yy'}} - {{cellInfo.data.expiredDate | date: 'dd/MM/yy'}}
    </div>
    <div *dxTemplate="let cellInfo of 'cellDetailLink'">
      {{cellInfo.data | fullName}}
    </div>
    <div *dxTemplate="let cellInfo of 'cellPhone'">
      {{getPhoneStudent(cellInfo.data)}}
    </div>
    <div *dxTemplate="let cellInfo of 'cellInActiveLMS'">
      <dx-check-box [readOnly]="!isAdmin" (valueChange)="changeUsingServiceLMS(cellInfo.data, $event)" [(value)]="cellInfo.data.isNotUsingLMS"
                    text=""></dx-check-box>
    </div>
    <div *dxTemplate="let cellInfo of 'cellInActiveMS'">
      <dx-check-box [readOnly]="!isAdmin" (valueChange)="changeUsingServiceMS(cellInfo.data, $event)" [(value)]="cellInfo.data.isNotUsingMS"
                    text=""></dx-check-box>
    </div>
  </dx-data-grid>
</div>
