@use "../../../variables.scss" as *;

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.layout-body {
  flex: 1;
  min-height: 0;
  background-color: var(--background-color);
}

.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
