<div class="view-wrapper list-page crm-contact-list">
  <!--<pdf-viewer [src]="pdfSrc"
              [render-text]="true"
              [original-size]="false"
              style="width: 400px; height: 500px"
  ></pdf-viewer>-->

  <dx-data-grid
    #dataGrid
    class="grid theme-dependent"
    noDataText=""
    [columnResizingMode]="'nextColumn'"
    [dataSource]="datas"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [columnMinWidth]="50"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
  >
    <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-load-panel [showPane]="true" [enabled]="true"></dxo-load-panel>
    <!--<dxo-selection
      selectAllMode="allPages"
      showCheckBoxesMode="always"
      mode="multiple"
    ></dxo-selection>-->
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">
          <i class="dx-icon-folder" style="font-size: 16px"></i>
          Giáo án đã tạo
        </div>
      </dxi-item>
      <dxi-item location="after" locateInMenu="auto">
        <dx-button
                   text="Thêm giáo án"
                   icon="newfolder"
                   type="default"
                   stylingMode="contained"
                   (onClick)="addTaiLieuClick()"
        ></dx-button>
      </dxi-item>
    </dxo-toolbar>

    <dxi-column
      caption="STT"
      alignment="center"
      [width]="50"
      [allowFiltering]="false"
      [cellTemplate]="'sttTemplate'"
    ></dxi-column>

    <dxi-column dataField="name" caption="Tên giáo án" cellTemplate="cellDetailLink"></dxi-column>
    <dxi-column dataField="hasTag" [groupIndex]="0" alignment="center" [allowFiltering]="false" [width]="120" caption="Danh mục (tag)"></dxi-column>

    <dxi-column alignment="center" [width]="100" dataField="" [allowFiltering]="false" caption="Riêng tư"
                cellTemplate="cellRiengTu"></dxi-column>

    <dxi-column dataField="grade" alignment="center" [allowFiltering]="false" [width]="90" caption="Khối"></dxi-column>
    <dxi-column dataField="subjectName" alignment="center" [allowFiltering]="false" [width]="90" caption="Tên môn"></dxi-column>

    <dxi-column dataField="dateCreated" [width]="120" [allowFiltering]="false" caption="Ngày tạo" dataType="date"
                format="dd/MM/yyyy"></dxi-column>
    <dxi-column type="buttons" [fixed]="true" fixedPosition="right" caption="Chức năng" [visible]="!isEdit">
      <dxi-button
        hint="Xem chi tiết"
        [onClick]="onViewClick"
        icon="info"
      ></dxi-button>
    </dxi-column>
    <dxi-column type="buttons" fixedPosition="right" caption="Chức năng" [visible]="isEdit">
      <dxi-button
        hint="Sửa thông tin"
        cssClass="dx-button-success"
        [onClick]="onEditClick"
        icon="edit"
      ></dxi-button>
      <dxi-button
        hint="Xem chi tiết"
        [onClick]="onViewClick"
        icon="info"
      ></dxi-button>
      <dxi-button
        hint="Xóa giáo án"
        cssClass="dx-button-danger"
        [onClick]="onDeleteClick"
        icon="trash"
        type="danger"
      ></dxi-button>
    </dxi-column>
    <dxi-column caption="Trạng thái" cellTemplate="cellTrangThai" [visible]="showTrangThaiDuyet"
                [width]="140"></dxi-column>
    <dxi-column alignment="center" caption="Ghi chú" [visible]="showTrangThaiDuyet" cellTemplate="cellNote"
                [width]="100"></dxi-column>
    <div *dxTemplate="let cellInfo of 'cellRiengTu'">
      <dx-check-box (valueChange)="changeRiengTu(cellInfo.data, $event)"
                    [(value)]="cellInfo.data.riengTu"
                    text=""></dx-check-box>
    </div>
    <div *dxTemplate="let cellInfo of 'cellDetailLink'">
      <a title="Xem trước" class="a-link" (click)="viewDetail(cellInfo.data)">
        <span [innerHTML]="cellInfo.data.name"></span>
      </a>
    </div>
    <div *dxTemplate="let cellInfo of 'cellTrangThai'">
      <span class="tag warning float-none" *ngIf="cellInfo.data.trangThaiDuyet === 0">Chờ duyệt</span>
      <span class="tag processing float-none" *ngIf="cellInfo.data.trangThaiDuyet === 10">Đã duyệt</span>
      <span class="tag red float-none no-border" *ngIf="cellInfo.data.trangThaiDuyet === 5">TCM đề nghị chỉnh sửa</span>
      <span class="tag red float-none no-border"
            *ngIf="cellInfo.data.trangThaiDuyet === 15">BGH đề nghị chỉnh sửa</span>
      <span class="tag success float-none no-border" *ngIf="cellInfo.data.trangThaiDuyet === 20">BGH đã duyệt</span>
    </div>
    <div *dxTemplate="let cellInfo of 'cellNote'">
      <a *ngIf="cellInfo.data.trangThaiDuyet == 5 || cellInfo.data.trangThaiDuyet == 15"
         (click)="viewNote(cellInfo.data)">Xem</a>
    </div>
    <div *dxTemplate="let cellInfo of 'sttTemplate'">
      {{ getRowIndex(cellInfo) }}
    </div>
  </dx-data-grid>
</div>
<dx-popup
  title="Thông tin giáo án"
  [(visible)]="isShowUploadTaiLieu"
  class="form-popup"
  [width]="500"
  [height]="500"
>
  <dxi-toolbar-item toolbar="bottom" location="after">
    <div
      class="form-popup-buttons-container"
    >
      <dx-button
        text="Bỏ qua"
        stylingMode="outlined"
        type="normal"
        (onClick)="closePopupEditTaiLieu()"
      ></dx-button>
      <dx-button
        text="Cập nhật"
        stylingMode="contained"
        type="default"
        (onClick)="onSaveTaiLieuClick()"
      ></dx-button>
    </div>
  </dxi-toolbar-item>
  <dx-validation-group #validationGroup>
    <dx-form
      [(formData)]="taiLieuItem"
      labelLocation="top"
      labelMode="outside"
      [colCount]="12">
      <!---------------------------start line-------------------------------->
      <dxi-item [isRequired]="true" [colSpan]="12">
        <dxo-label text="Tên giáo án"></dxo-label>
        <dx-text-box
          stylingMode="outlined"
          placeholder="Nhập tên giáo án"
          valueChangeEvent="keyup input change"
          [(value)]="taiLieuItem.name">
          <dx-validator
            [validationRules]="[{ type: 'required', message: 'Chưa nhập tên giáo án' }]"></dx-validator>
        </dx-text-box>
      </dxi-item>
      <dxi-item [colSpan]="12">
        <dxo-label text="Danh mục (tag)"></dxo-label>
        <dx-text-box
          stylingMode="outlined"
          placeholder="Nhập tên danh mục"
          valueChangeEvent="keyup input change"
          [(value)]="taiLieuItem.hasTag">
        </dx-text-box>
      </dxi-item>
      <dxi-item [isRequired]="true" [colSpan]="6">
        <dxo-label text="Khối lớp"></dxo-label>
        <dx-select-box
          placeholder="Chọn khối lớp"
          stylingMode="outlined"
          [dataSource]="gradeSource"
          [(value)]="taiLieuItem.grade"
        >
          <dx-validator
            [validationRules]="[{ type: 'required', message: 'Chưa chọn khối lớp' }]"></dx-validator>
        </dx-select-box>
      </dxi-item>
      <dxi-item [isRequired]="true" [colSpan]="6">
        <dxo-label text="Môn học"></dxo-label>
        <dx-select-box
          stylingMode="outlined"
          placeholder="Chọn môn học"
          [showClearButton]="true"
          displayExpr="name"
          valueExpr="id"
          [dataSource]="editSubjectSource"
          [(value)]="taiLieuItem.subjectId"
        >
          <dx-validator
            [validationRules]="[{ type: 'required', message: 'Chưa chọn môn học' }]"></dx-validator>
        </dx-select-box>
      </dxi-item>
      <dxi-item [colSpan]="12">
        <dxo-label text="Phạm vi chia sẻ"></dxo-label>
        <dx-check-box [(value)]="taiLieuItem.riengTu" text="Chỉ mình tôi"></dx-check-box>
      </dxi-item>
      <dxi-item [isRequired]="false" [colSpan]="12">
        <div *ngIf="taiLieuItem.url" class="div-file-info">
          <a target="_blank" [href]="taiLieuItem.url">
            <i class="dx-icon-file" style="font-size: 16px"></i>
            {{getFileName(taiLieuItem.url)}}
          </a>
          <a (click)="taiLieuItem.url = ''">
            <i class="dx-icon-remove" style="font-size: 16px"></i> Xóa tệp
          </a>
        </div>

        <dx-file-uploader
            #fileUploader
            uploadMode="instantly"
            [uploadHeaders]="uploadHeaders"
            [(uploadUrl)]="uploadUrl"
            [allowedFileExtensions]="['.pdf','.docx','.doc']"
            [selectButtonText]="'Chọn giáo án'"
            [uploadButtonText]="'Tải lên file'"
            [maxFileSize]="200000000"
            labelText=""
            name="formFile"
            [showFileList]="true"
            [multiple]="false"
            [visible]="true"
            uploadedMessage="Tải lên thành công"
            invalidFileExtensionMessage="Chỉ được tải giáo án định dạng PDF, WORD"
            invalidMaxFileSizeMessage="Dung lượng file tối đa 200mb"
            (onBeforeSend)="onUploadTaiLieuStarted($event)"
            (onUploaded)="onTaiLieuUploaded($event)"
            (onUploadError)="onTaiLieuUploadError($event)">
        </dx-file-uploader>
        <div class="note" style="color: orange">Chỉ được upload những định dạng file <strong style="color: orange">PDF, DOCX, DOC</strong></div>
      </dxi-item>
    </dx-form>
  </dx-validation-group>
</dx-popup>
<dx-popup
  title="Nội dung đề nghị"
  [(visible)]="isShowComment"
  class="form-popup"
  height="auto"
  width="500px"
>
  <div [innerHTML]="baiGiangItem.yeuCauChinhSua">
  </div>
</dx-popup>

