@use "../variables.scss" as *;

:host {
  background-color: var(--side-panel-background);
  display: flex;
  height: 100%;
  width: 100%;
}
.text-center{
  text-align: center !important;
}
::ng-deep .dx-data-grid .dx-row.dx-row-alt {
  background-color: #fffbe6; /* vàng nhạt */
}
