/* stylelint-disable no-duplicate-selectors */
@use "../../../../variables.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;

  .menu-container {
    background-color: var(--side-panel-background);
    min-height: 100%;
    width: 280px;
    display: flex;
    flex: 1;
    padding-top: var(--toolbar-vertical-padding);
    padding-bottom: var(--footer-height);

    ::ng-deep .dx-treeview {
      white-space: normal;
      word-wrap: break-word;
      
      .dx-treeview-item {
        padding-left: 0;
        flex-direction: row-reverse;
        border-radius: 0;
        min-height: 40px;
        align-items: flex-start;

        .dx-icon.dx-icon {
          width: var(--side-panel-min-width);
          margin: 0;
          margin-top: 8px;
          flex-shrink: 0;
        }
        
        .dx-treeview-item-content {
          flex: 1;
          padding-right: 8px;
          line-height: 1.3;
          word-break: break-word;
        }
      }

      .dx-treeview-node.dx-treeview-node {
        padding: 0 0;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
        top: 8px;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
        top: 8px;
      }

      .dx-treeview-node {
        &[aria-level="1"] {
          font-weight: bold;
          border-bottom: 1px solid var(--border-color);
          
          .dx-treeview-item {
            min-height: 45px;
          }
        }

        &[aria-level="2"] {
          .dx-treeview-item-content {
            font-weight: normal;
            padding: 0 0 0 var(--side-panel-min-width);
            padding-right: 8px;
          }
          
          .dx-treeview-item {
            min-height: 38px;
          }
        }
      }
    }
  }
}