@use "../../../../variables.scss" as *;
@use "sass:math";

:host {
  --side-panel-toolbar-height: 76px;

  width: 100%;
  display: contents;
}

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;

  .grid {
    .name-template {
      .position {
        font-size: 12px;
        color: var(--texteditor-label-color);
      }
    }

    ::ng-deep & {
      .dx-datagrid-header-panel {
        padding: 0 var(--content-padding);
      }

      .dx-toolbar {
        margin-bottom: 0;
        padding: var(--toolbar-margin-bottom) 0;
      }

      .dx-datagrid-content .dx-row {
        cursor: pointer;
      }
    }

    .grid-header {
      @include header();
    }
  }

  user-panel {
    display: inherit;
  }
}
.change-true{

  .dx-button-mode-outlined{
    border: solid 1px green;
  }
  ::ng-deep .dx-button .dx-icon{
    color: green !important;
  }
}
.detail-3 h5{
  font-weight: normal;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}
.detail-3 td, .detail-3 th{
  font-size: 12px !important;
}
